body {
    background: lightgoldenrodyellow;
    font: 12pt Georgia;
}
h4 {
    color: brown;
}
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    line-height: 1.6;
}
label {
    display: inline-block;
    width: 100px;
    text-align: left;
}
.valoda{
    display: inline-block;
    width: 10px;
    text-align: left;
}
input[type=text]{
    border: none;
    background: lightgoldenrodyellow;
    border-bottom: 2px solid brown;
}
textarea {
    background: lightgoldenrodyellow;
    resize: none;
    border: 1px solid brown;
}
button {
    background-color: brown;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=submit] {
    background-color: brown;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=button] {
    background-color: brown;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input:hover {
    background-color: bisque;
}
input:hover[type=button] {
     background-color: lightcoral;
 }
input:hover[type=submit] {
    background-color: lightcoral;
}
button:hover {
    background-color: lightcoral;
}
